.tab {
    display: flex;
    cursor: pointer;
    border-bottom: none;
    width: 100%;
}

.tab button {
    width: 100%;
    background-color: white;
    border: 1px solid gray;
}

.tab button:hover {
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(102, 102, 102);


}