.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    height: 100%;
}

.tab {
    display: flex;
    cursor: pointer;
    background: none;
}

.tab:hover {
    background-color: #f2f2f2;
}

.tab.active {
    border-bottom: 2px solid black;
}