html {
    padding-top: 0;
}

.main {
    background: #f3f3f3;
    background-color: #ffffff;
    padding: 0px;
}

body {
    padding: 20px;
    background: #f3f3f3;
}

.layoutheader {
    background: #f3f3f3;
    height: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.layoutheader button {}

.layoutheader a {
    max-width: 10%;
}

.layoutheader img {
    max-width: 100%;
}

.elements-container {
    background-color: #ffffff;
    padding: 10px;
}