html {
    padding-top: 0;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    background: linear-gradient(#e922cb, #9198e5);
    height: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

a {
    max-width: 10%;
}

img {
    max-width: 100%;
}